@font-face {
  font-family: 'DFZongYiBold1B-GB';
  src: url('../assets/fonts//DFZongYiBold1B-GB.woff2') format('woff2'),
    url('../assets/fonts//DFZongYiBold1B-GB.woff') format('woff'),
    url('../assets/fonts//DFZongYiBold1B-GB.svg#DFZongYiBold1B-GB')
      format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('../assets/fonts//GothamHTF-Black.woff2') format('woff2'),
    url('../assets/fonts//GothamHTF-Black.woff') format('woff'),
    url('../assets/fonts//GothamHTF-Black.svg#GothamHTF-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('../assets/fonts//GothamHTF-Bold.woff2') format('woff2'),
    url('../assets/fonts//GothamHTF-Bold.woff') format('woff'),
    url('../assets/fonts//GothamHTF-Bold.svg#GothamHTF-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('../assets/fonts//GothamHTF-BlackItalic.woff2') format('woff2'),
    url('../assets/fonts//GothamHTF-BlackItalic.woff') format('woff'),
    url('../assets/fonts//GothamHTF-BlackItalic.svg#GothamHTF-BlackItalic')
      format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham HTF';
  src: url('../assets/fonts//GothamHTF-BoldItalic.woff2') format('woff2'),
    url('../assets/fonts//GothamHTF-BoldItalic.woff') format('woff'),
    url('../assets/fonts//GothamHTF-BoldItalic.svg#GothamHTF-BoldItalic')
      format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
