@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .word-spacing-0 {
    word-spacing: 0;
  }

  .word-spacing-4 {
    word-spacing: 1rem;
  }

  .word-spacing-8 {
    word-spacing: 2rem;
  }
}

.menu-item a {
  @apply relative;
  @apply after:empty-content;
  @apply after:absolute;
  @apply after:h-[2px];
  @apply after:bottom-[-4px];
  @apply after:left-0;
  @apply after:bg-white;
  @apply after:w-full;
  @apply after:scale-x-0;
  @apply hover:after:scale-x-100;
  @apply after:transition-transform;
  @apply after:duration-200;
  @apply after:origin-left;
}
