@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'typography';

@layer utilities {
  .word-spacing-0 {
    word-spacing: 0;
  }

  .word-spacing-4 {
    word-spacing: 1rem;
  }

  .word-spacing-8 {
    word-spacing: 2rem;
  }
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

input[type='number'] {
  -moz-appearance: textfield;

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
}

a {
  &[href*='about'],
  &[href*='technology'],
  &[href*='simple'],
  &[href*='research'],
  &[href*='coaches'] {
    @apply hover:cursor-about;
  }

  &[href*='locations'] {
    @apply hover:cursor-locations;
  }

  &[href*='news'] {
    @apply hover:cursor-news;
  }

  &[href*='stories'] {
    @apply hover:cursor-stories;
  }
}

.share-btn {
  @apply hidden p-2 md:flex flex-col justify-center;
}

.share-panel {
  @apply block md:absolute md:top-16 md:w-48 md:right-10 lg:right-4 md:z-40;

  .absolute {
    @apply hidden md:block;
  }

  .share-panel__container {
    @apply md:ml-8 md:mt-5;
  }

  .share-panel__wrapper {
    @apply flex flex-row md:flex-col text-xs uppercase items-center md:items-start;
  }

  .share-panel__icons {
    @apply ml-2 md:ml-0;
  }
}

.lang-btn,
.link,
footer a {
  @apply relative inline-block;

  &:after {
    @apply empty-content absolute h-[2px] bottom-[-1px] left-0 bg-current w-full transition-transform duration-200 origin-left;
  }
}

.link,
.lang-btn.lang-btn--selected {
  @apply after:scale-x-100 lg:hover:after:scale-x-0;
}

.lang-btn {
  @apply lg:p-1 after:bottom-0;
}

footer a,
.lang-btn {
  @apply after:scale-x-0 hover:after:scale-x-100;
}

.menu-item a {
  @apply relative hidden lg:block;

  &:after {
    @apply empty-content absolute h-[2px] bottom-[-1px] left-0 bg-white w-full hover:after:scale-x-100 transition-transform duration-200 origin-left;
  }

  &.after\:scale-x-100 {
    @apply hover:after:scale-x-0;
  }
}

.h1 {
  @apply text-6xl md:text-8xl font-black leading-none mb-0;
}

.h4 {
  @apply text-2xl md:text-4xl leading-none word-spacing-0 font-black;
}

.page-title {
  @apply text-2xl md:text-5xl leading-tight md:leading-none font-black relative z-10;
}

.about-link {
  @apply text-red inline-block relative leading-[0.85];

  &:after {
    @apply empty-content absolute h-[3px] bottom-[-3px] left-0 bg-red w-full hover:after:scale-x-100;
    @apply transition-transform duration-200 origin-left z-10 hover:after:scale-x-0;
  }

  span {
    @apply relative z-30;
    text-shadow: 3px 3px white, 3px -3px white, -3px 3px white, -3px -3px white;
  }
}

.about-link--mobile {
  @apply inline-block px-[10px] first:pl-0 last:pr-0 border-black;
}

.content-header {
}

.content-container {
  @apply lg:min-h-screen relative lg:flex flex-col;
  @extend .content-container-bg;
  @extend .content-container-size;
  @extend .content-container-order;
  @extend .content-container-positioning;
}

.content-container-positioning {
  @apply lg:sticky top-0 z-20;
}

.content-container-order {
  @apply order-2 lg:order-1;
}

.content-container-size {
  @apply w-full lg:w-1/2;
}

.content-container-bg {
  @apply bg-red text-white;
}

.content-container-px {
  @apply px-4 md:px-16;
}

body {
  // scroll-snap-type: y proximity;
}

.flex-last-item-align-start {
  @apply after:empty-content after:flex-1;
}

.snap-container {
  scroll-snap-type: mandatory;
  scroll-snap-points-y: repeat(100vh);
  scroll-snap-type: y mandatory;
}

.snap-child {
  scroll-snap-align: start;
}

.snap-end {
  scroll-snap-align: end;
}

.lg\:snap-child {
  @media (min-width: 1024px) {
    scroll-snap-align: start;
  }
}

.field-group {
  @apply flex flex-col md:flex-row md:items-end border-b-2 border-red pb-1 mb-3;
}

.input-wrapper {
  @apply w-full border-red;

  @apply first:border-b-2 first:pb-1 first:mb-3 md:first:border-b-0 md:first:pb-0 md:first:mb-0;
  @apply last:border-b-0 last:mb-0 last:pb-0;
}

.input-wrapper--left {
  @apply md:w-1/3;

  input {
    @apply rounded-none;
  }
}

.input-radio {
  & + span:before {
    content: '';
    background: url(/images/unchecked.svg);
    width: 19px;
    height: 19px;
    @apply bg-no-repeat mr-2 bg-contain inline-block align-top;
  }

  &:checked + span:before {
    background: url(/images/checked.svg);
  }
}

.text-field {
  @apply bg-transparent w-full text-red border-red block px-4 focus:outline-none;

  @apply placeholder:opacity-40 placeholder:text-red;
}

.has-error {
  @apply relative overflow-visible mt-3;

  &:after {
    @apply uppercase text-red text-xs text-center w-full absolute -top-4 block left-0;
  }
}

.form--en {
  .has-error::after {
    content: 'Forget ah?';
  }
}

.form--ta {
  .has-error::after {
    content: 'மறந்துவிட்டீர்களா?';
  }
}

.form--ms {
  .has-error::after {
    content: 'Dilupakan?';
  }

  .input-wrapper--left {
    @apply md:w-1/2;
  }
}

.form--zh {
  @apply font-chinese;
  * {
    @apply font-chinese;
  }

  .submit-text {
    @apply text-base;
  }

  .has-error::after {
    content: '您忘记了吗？';
  }
}

.form--disabled {
  .form__inner-wrap {
    @apply opacity-50;
  }
}

input[type='radio']:checked + .bubble {
  .bubble__image-wrapper {
    border-width: 4px !important;
  }
}

.bubble__link {
  @apply focus:outline-none;
}

.sign-up-btn {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.cursor-generic {
  button:not(.btn-sign--up),
  a {
    @apply hover:cursor-generic;
  }
}

.page-about {
  button:not(.btn-sign--up),
  a {
    @apply hover:cursor-about;
  }
}

.page-stories {
  button:not(.btn-sign--up),
  a {
    @apply hover:cursor-stories;
  }
}

.page-locations {
  button:not(.btn-sign--up),
  a {
    @apply hover:cursor-locations;
  }
}

.page-news {
  button:not(.btn-sign--up),
  a {
    @apply hover:cursor-news;
  }
}

.btn-sign--up {
  @apply hover:cursor-signup;
}

.modal--content {
  @apply text-sm md:text-lg leading-tighter md:leading-tight mt-3;

  p + p {
    @apply mt-[1em];
  }

  a {
    @apply border-b-2 border-black hover:cursor-news hover:opacity-90;
  }
}